files:
  "/etc/php.d/z_project.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      [opcache]
      opcache.enable = On
      opcache.enable_cli = On
      opcache.validate_timestamps = On
      opcache.revalidate_freq = 30
      opcache.memory_consumption = 256
      [apc]
      apc.enabled = On
      apc.enable_cli = On
      apc.shm_size = 256M
      max_execution_time = 60

container_commands:
  20_php_dotenv_setup:
    command: sudo bash scripts/dotenv.sh
