files:
  "/etc/httpd/conf.d/z_project.conf":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      <VirtualHost *:80>
        ServerAdmin admin@example.com
        ServerName example.com
        ServerAlias www.example.com
        ServerAlias stage.example.com
        ServerAlias dev.example.com
        DocumentRoot /var/app/current
        <Directory />
          AllowOverride All
          Options Indexes FollowSymLinks MultiViews
          Require all granted
        </Directory>
      </VirtualHost>