container_commands:
  41_laravel_set_permissions:
    command: sudo chown -R webapp:webapp .
  # Ensure the storage path is writable if it exists.
  42_laravel_set_permissions:
    test: test -d "storage"
    command: sudo chgrp -R webapp storage
  43_laravel_set_permissions:
    test: test -d "storage"
    command: sudo chmod -R ug+wx storage
  # Ensure the themes folder is writable if it exists (OctoberCMS).
  44_laravel_set_permissions:
    test: test -d "themes"
    command: sudo chgrp -R webapp themes
  45_laravel_set_permissions:
    test: test -d "themes"
    command: sudo chmod -R ug+wx themes
  # Ensure the bootstrap/cache folder is writable if it exists.
  46_laravel_set_permissions:
    test: test -d "bootstrap/cache"
    command: sudo chgrp -R webapp bootstrap/cache
  47_laravel_set_permissions:
    test: test -d "bootstrap/cache"
    command: sudo chmod -R ug+wx bootstrap/cache
  48_laravel_cache_clear:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan cache:clear"
    ignoreErrors: true
  49_laravel_optimize:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan optimize --force"
