# This is an example of an action needed for migrations/updates.
# In this case, we're running OctoberCMS migrations, to automatically update our schema with new application deployments.
container_commands:
  50_october_update:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan october:up --no-interaction"
    leader_only: true
