# The following allows Laravel cron jobs to be executed by CLI on a single instance.
# We want these cron jobs to be executed as webapp, not as root.
# This requires that your project has the library: https://github.com/FoxxMD/laravel-elasticbeanstalk-cron
container_commands:
  # Ensure the "webapp" user can run cron jobs without errors.
  70_webapp_home:
    command: sudo mkdir -p /home/webapp
  71_webapp_permission:
    command: sudo chown -R webapp:webapp /home/webapp
  # Remove any previously created cronjobs for webapp.
  72_remove_previous_cron_webapp:
    command: sudo crontab -u webapp -r || exit 0
  # Adds a cron entry that checks for leader selection every 5 minutes
  73_run_leader_selection_cron:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan system:start:leaderselection"
  # Does an initial leader selection check
  74_run_leader_selection:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan aws:configure:leader"
  # We must be absolutely sure that no rogue root-level cron jobs exist for our application.
  75_remove_previous_cron_root:
    command: sudo crontab -u root -r || exit 0
  76_remove_previous_cron_backups:
    command: sudo rm -f /etc/cron.d/*.bak
